#title,
#description {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#table {
    margin-left: 25%;
    width: 50%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;
    height: 450px;
}

thead {
    text-align: left;
    background-color: pink;
    color: rgb(73, 70, 70);
    font-size: 22px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#buttons {
    margin-left: 30%;
    display: flex;
    margin-top: 20px;
    gap: 6px;
}

#btn {
    background-color: pink;
    border: 1px solid rgb(119, 116, 116);
    color: black;
    cursor: pointer;
    font-size: 18px;
}